@model IEnumerable<F.___J._Library.Models.BorrowedBook>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BorrowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorrowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @if (User.IsInRole("Admin")) 
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.BookId })
                }
                @Html.ActionLink("Details", "Details", new { id = item.BookId })
                
                @if (User.IsInRole("Admin")) 
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.BookId })
                }
            </td>
        </tr>
}
    </tbody>
</table>
